<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>四択クイズ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="quiz-container">
        <div class="question-container">
            <div class="mb-1">
                <span class="badge bg-primary">Book ID: {{ questions[questionCount].book_id }}</span>
                <span class="badge bg-success">Chapter ID: {{ questions[questionCount].chapter_id }}</span>
                <span class="badge bg-info">Quiz ID: {{ questions[questionCount].quiz_id }}</span>
            </div>

            <div class="quiz-text">
                <h3>{{ questions[questionCount].question}}</h3>
                <div class="choices-text mb-2">
                    <div><span class="choice-label">A</span> <span class="choice-content">{{
                            questions[questionCount].option_A }}</span>
                    </div>
                    <div><span class="choice-label">B</span> <span class="choice-content">{{
                            questions[questionCount].option_B }}</span>
                    </div>
                    <div><span class="choice-label">C</span> <span class="choice-content">{{
                            questions[questionCount].option_C }}</span>
                    </div>
                    <div><span class="choice-label">D</span> <span class="choice-content">{{
                            questions[questionCount].option_D }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <div class="row four-choice-row">
                <div class="col-3 my-2">
                    <button class="btn btn-primary choice-btn" data-choice="A">A</button>
                </div>
                <div class="col-3 my-2">
                    <button class="btn btn-primary choice-btn" data-choice="B">B</button>
                </div>
                <div class="col-3 my-2">
                    <button class="btn btn-primary choice-btn" data-choice="C">C</button>
                </div>
                <div class="col-3 my-2">
                    <button class="btn btn-primary choice-btn" data-choice="D">D</button>
                </div>
            </div>
            <div class="feedback-history-container">
                <div id="feedback" class="alert flex-item flex-container" style="display:none;">
                    <div id="feedback-text"></div>
                    <div id="correct-answer"></div>
                </div>
                <div id="answer" class="flex-item">
                    <div id="history-title" class="flex-item" style="display:none;">回答履歴：</div>
                    <div id="answer-history" class="flex-item"></div>
                </div>
            </div>
        </div>
        <a id="next-btn" class="btn btn-secondary mt-1 btn-block" style="display:none;">次の問題へ</a>
        <div id="explanation" style="display:none;"></div>

        <div id="user-feedback-buttons" class="user-feedback-btn-container" style="display: none;">
            <button id="like-button" class="btn user-feedback-btn btn-success">いいね</button>
            <button id="dislike-button" class="btn user-feedback-btn btn-danger">いまいち</button>
        </div>


        <!-- ポップアップモーダル -->
        <div class="modal fade" id="user-feedback-modal" tabindex="-1" aria-labelledby="user-feedback-modal-label"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="user-feedback-modal-label">フィードバック</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                    </div>
                    <div class="modal-body">
                        <label>問題に関するフィードバック:</label>
                        <div>
                            <button class="btn btn-secondary user-feedback-option" data-reaction-type-id="1"
                                data-user-feedback="問題がマニアックすぎる">問題がマニアックすぎる</button>
                        </div>
                        <div>
                            <button class="btn btn-secondary user-feedback-option" data-reaction-type-id="2"
                                data-user-feedback="正解が間違っている">正解が間違っている</button>
                        </div>
                        <div>
                            <button class="btn btn-secondary user-feedback-option" data-reaction-type-id="3"
                                data-user-feedback="意味のない問題になっている。簡単すぎる">意味のない問題になっている。簡単すぎる</button>
                        </div>
                        <div>
                            <button class="btn btn-secondary user-feedback-option" data-reaction-type-id="4"
                                data-user-feedback="その他">その他</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <script>
        let questionCount = 0;
        const questions = JSON.parse('{{ questions|tojson|safe }}');
        const answerHistoryData = JSON.parse('{{ answer_history|tojson|safe }}');
        let correctAnswer = "{{ questions[questionCount].answer }}";
        let explanationText = "{{ questions[questionCount].explanation }}";
        let correctAnswers = 0;

        let currentQuestion = questions[questionCount];
        let optionsArray;
        let optionsMapping;
        let shuffledOptions;

        let choices = document.querySelectorAll('.choices-text .choice-content');
        ({ optionsArray, correctAnswer, optionsMapping } = shuffleOptionsAndKeepTrack());
        console.log("currentanswer:", correctAnswer);
        choices[0].textContent = optionsArray[0].content;
        choices[1].textContent = optionsArray[1].content;
        choices[2].textContent = optionsArray[2].content;
        choices[3].textContent = optionsArray[3].content;

        document.querySelectorAll('.choice-btn').forEach(button => {
            button.addEventListener('click', (e) => {
                displayAnswerHistory(answerHistoryData);

                explanationText = questions[questionCount].explanation;

                let userChoice = e.target.getAttribute('data-choice');
                let isCorrect = userChoice === correctAnswer;

                document.getElementById('feedback').classList.add(isCorrect ? 'alert-success' : 'alert-danger');
                document.getElementById('feedback-text').innerText = isCorrect ? '正解！' : '不正解...';

                if (isCorrect) {
                    correctAnswers++;
                    document.getElementById('correct-answer').style.display = 'none';
                    if (document.getElementsByClassName('history-icon')[0]?.offsetHeight !== undefined) {
                        document.getElementById('feedback-text').style.height = 55 + 'px';
                    }

                } else {
                    document.getElementById('correct-answer').innerText = '正解は: ' + correctAnswer;
                    document.getElementById('correct-answer').style.display = 'block';
                }

                document.getElementById('feedback').style.display = 'block';
                document.getElementById('history-title').style.display = 'block';
                document.getElementById('user-feedback-buttons').style.display = 'flex';


                // 解説テキストを表示
                document.getElementById('explanation').innerText = explanationText;
                document.getElementById('explanation').style.display = 'block';
                document.getElementById('next-btn').style.display = 'block';

                // すべてのボタンのクリックイベントを無効化
                document.querySelectorAll('.choice-btn').forEach(btn => {
                    btn.style.pointerEvents = "none";
                });

                // 選択したボタンにクラスを追加
                e.target.classList.add('selected-choice');

                saveUserAnswer(userChoice, isCorrect); // この関数を呼び出して答えを保存します

            });
        });

        function saveUserAnswer(userChoice, isCorrect) {
            //let newPosition = parseInt(currentQuestion.find(map => map.originalOption == userChoice).newPosition);
            //let originalChoice = ['A', 'B', 'C', 'D'][newPosition] || '値が無効です';

            let newPosition = "ABCD".indexOf(userChoice);
            let originalChoice = optionsMapping[newPosition].originalOption
            console.log("optionsMapping:", optionsMapping);
            console.log("userChoice:", userChoice);
            console.log("parseInt(optionsMapping.find(map => map.originalOption == userChoice).newPosition):", parseInt(optionsMapping.find(map => map.originalOption == userChoice).newPosition));
            console.log("Current Question:", currentQuestion);
            console.log("originalChoice:", originalChoice);

            const data = {
                user_id: 1, // 仮のユーザーID。実際のアプリケーションでは適切な方法でユーザーIDを取得する。
                book_id: questions[questionCount].book_id,
                chapter_id: questions[questionCount].chapter_id,
                quiz_id: questions[questionCount].quiz_id,
                answer: originalChoice,
                is_correct: isCorrect,
            };

            fetch('/save-answer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id: 1,
                    book_id: questions[questionCount].book_id,
                    chapter_id: questions[questionCount].chapter_id,
                    quiz_id: questions[questionCount].quiz_id,
                    answer: originalChoice,
                    is_correct: isCorrect
                })
            })
                .then(response => response.json())
                .then(data => console.log(data.message))
                .catch(error => console.log('Error:', error));
        }


        function displayAnswerHistory(historyData) {
            let currentQuizId = questions[questionCount].quiz_id; // 現在のクイズIDを取得
            //console.log("Current Quiz ID:", currentQuizId);
            //console.log("History Data Before Filtering:", historyData);

            let filteredHistory = historyData.filter(entry => entry.quiz_id == currentQuizId); // 現在のクイズIDに一致する回答のみをフィルタリング
            //console.log("Filtered History:", filteredHistory);
            // 最新の5件の履歴データに限定
            filteredHistory = filteredHistory.slice(-5);
            //console.log("Filtered History-5:", filteredHistory);

            let historyContainer = document.getElementById('answer-history');

            console.log("dAH_optionsMapping:", optionsMapping);
            filteredHistory.forEach(entry => {
                // Using optionsMapping to find the original option

                let currentPosition = parseInt(optionsMapping.find(map => map.originalOption == entry.answer).newPosition);
                let currentChoice = ['A', 'B', 'C', 'D'][currentPosition] || '値が無効です';
                console.log("dAH_entry.answer:", entry.answer);
                console.log("dAH_currentChoice:", currentChoice);

                let historyEntry = document.createElement('div');
                historyEntry.classList.add('history-entry');

                let icon = document.createElement('div');
                icon.classList.add('history-icon');
                icon.classList.add(entry.is_correct ? 'correct' : 'incorrect');
                icon.innerText = currentChoice;
                historyEntry.appendChild(icon);

                historyContainer.appendChild(historyEntry);
            });
        }

        document.getElementById('next-btn').addEventListener('click', (e) => {
            e.preventDefault();
            loadNextQuestion();
        });

        function loadNextQuestion() {
            questionCount++;
            if (questionCount >= questions.length) {
                window.location.href = "/score_page/" + questions[0].book_id + "/" + questions[0].chapter_id + "?correct=" + correctAnswers + "&total=" + questionCount; // 成績画面のURL (book_id, correct, and total パラメータ付き)               return;
            }

            document.querySelector('.badge.bg-primary').textContent = "Book ID: " + questions[questionCount].book_id;
            document.querySelector('.badge.bg-success').textContent = "Chapter ID: " + questions[questionCount].chapter_id;
            document.querySelector('.badge.bg-info').textContent = "Quiz ID: " + questions[questionCount].quiz_id;

            document.querySelector('.quiz-text h3').textContent = questions[questionCount].question;

            choices = document.querySelectorAll('.choices-text .choice-content');
            ({ optionsArray, correctAnswer, optionsMapping } = shuffleOptionsAndKeepTrack());
            console.log("currentanswer:", correctAnswer);
            choices[0].textContent = optionsArray[0].content;
            choices[1].textContent = optionsArray[1].content;
            choices[2].textContent = optionsArray[2].content;
            choices[3].textContent = optionsArray[3].content;

            // フィードバックセクションと解説セクションをリセットします。
            document.getElementById('feedback').classList.remove('alert-success', 'alert-danger');
            document.getElementById('feedback').style.display = 'none';
            document.getElementById('feedback-text').style.height = '';
            document.getElementById('explanation').style.display = 'none';
            document.getElementById('explanation').innerHTML = ''; // 解説をリセット
            document.getElementById('next-btn').style.display = 'none';
            document.getElementById('history-title').style.display = 'none';
            document.getElementById('answer-history').innerHTML = '';  // 履歴をリセット
            document.getElementById('user-feedback-buttons').style.display = 'none';
            document.getElementById('dislike-button').className = 'btn user-feedback-btn btn-danger'; // いまいちボタンの状態を初期に戻します。
            document.getElementById('like-button').className = 'btn user-feedback-btn btn-success'; // いいねボタンの状態を初期に戻します。
            document.getElementById('dislike-button').style.pointerEvents = "auto";
            document.getElementById('like-button').style.pointerEvents = "auto";    

            // ボタンのクリックイベントを再度有効にします。
            document.querySelectorAll('.choice-btn').forEach(btn => {
                btn.style.pointerEvents = "auto";
                btn.classList.remove('selected-choice'); // 選択したボタンのクラスをリセット
            });
        }

        function shuffleOptionsAndKeepTrack() {
            currentQuestion = questions[questionCount];
            optionsArray = [
                { option: 'A', content: currentQuestion.option_A },
                { option: 'B', content: currentQuestion.option_B },
                { option: 'C', content: currentQuestion.option_C },
                { option: 'D', content: currentQuestion.option_D }
            ];

            shuffleArray(optionsArray);

            // Create an array to store the mappings
            optionsMapping = optionsArray.map((option, index) => {
                return { newPosition: index, originalOption: option.option };
            });

            console.log(optionsMapping);
            currentPosition = parseInt(optionsMapping.find(option => option.originalOption == currentQuestion.answer).newPosition);
            //correctAnswer = optionsMapping[currentPosition].originalOption;
            correctAnswer = ['A', 'B', 'C', 'D'][currentPosition] || '値が無効です';
            //correctAnswer = optionsMapping.find(option => option.originalOption == currentQuestion.answer).originalOption;
            console.log("---------------------");
            console.log("currentQuestion:", currentQuestion);
            console.log("optionsMapping", optionsMapping);
            console.log("optionsMapping.find(option => option.originalOption == currentQuestion.answer).newPosition:", optionsMapping.find(option => option.originalOption == currentQuestion.answer).newPosition);
            console.log("optionsMapping.find(option => option.originalOption == currentQuestion.answer).originalOption:", optionsMapping.find(option => option.originalOption == currentQuestion.answer).originalOption);
            console.log("SOAKTcorrectAnswer:", correctAnswer);

            return { optionsArray, correctAnswer, optionsMapping };
        }

        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }

        }

        function getCorrectOption(shuffledChoices, originalQuestion) {
            for (let i = 0; i < shuffledChoices.length; i++) {
                if (shuffledChoices[i] === originalQuestion.correct_option) {
                    return i;
                }
            }
            return null;
        }
        function getShuffleHistory() {
            return shuffleHistory;
        }

        document.getElementById('like-button').addEventListener('click', () => {
            document.getElementById('like-button').classList.toggle('btn-success');
            saveUserFeedback(1, 'like');
            document.getElementById('like-button').style.pointerEvents = "none";
        });


        document.getElementById('dislike-button').addEventListener('click', () => {
            document.getElementById('dislike-button').classList.toggle('btn-danger');
            $('#user-feedback-modal').modal('show');
            document.getElementById('dislike-button').style.pointerEvents = "none";
        });

        document.querySelectorAll('.user-feedback-option').forEach(button => {
            button.addEventListener('click', (e) => {
                let reactionTypeId = parseInt(e.target.getAttribute('data-reaction-type-id'), 10);
                let userFeedbackText = e.target.getAttribute('data-user-feedback');
                saveUserFeedback(reactionTypeId, 'dislike');  // 'dislike' を直接渡します
                $('#user-feedback-modal').modal('hide');
            });
        });

        function saveUserFeedback(reactionTypeId, likeDislike) {
            const data = {
                quiz_id: questions[questionCount].quiz_id,
                user_id: 1,  // ここに実際のユーザーIDをセットします
                reaction_type_id: reactionTypeId,
                like_dislike: likeDislike,  // 'like' または 'dislike'
                book_id: questions[questionCount].book_id,
                chapter_id: questions[questionCount].chapter_id,
            };

            fetch('/save-feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data.message))
                .catch(error => console.log('Error:', error));
        }



    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>

</body>

</html>