<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>クイズモード選択</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="quiz-container container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="sc-quiz-text">
                    <h3>Select a mode</h3>
                </div>
                <div class="sc-button-container text-center">
                    <a href="{{ url_for('quiz', book_id=book_id, chapter_id=chapter_id, mode='normal') }}"
                        class="btn-primary sc-choice-btn">10問モード</a>
                    <a href="{{ url_for('quiz', book_id=book_id, chapter_id=chapter_id, mode='review') }}"
                        class="btn-primary sc-choice-btn">復習モード</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
</body>

</html>